<ul>

  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">users</a> </li>
  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/users">users</a></li>
  <li><a routerLinkActive="active" routerLink="/users/1">user details</a></li>
  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/students">students</a></li>
  <li><a routerLinkActive="active" routerLink="/studentsDetails/1023">student Details</a></li>
  <li><a routerLinkActive="active" routerLink="/profile"> profile</a></li>
  <li><a routerLinkActive="active" routerLink="/error"> error</a></li>
  </ul>
