h1{
  background-color: chartreuse;
  color: blue;
  text-align: center;
}
img{
  width: 10%;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  position: relative;
}
.container{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 40%;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  position: relative;
  margin-top: 100px;

}
